BeautifulSoup
coverage
Django
django-debug-toolbar
django-devserver
django-nose
django-profiles
django-registration
django-sentry
django-social-auth
django-tastypie
dj-database-url
fabric
gunicorn
nose
python-google-places
raven
south
